@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">POKEDEX</h1>
    <p>Veja os Pokemons <a href="https://localhost:44392/pokemons">clicando aqui</a>.</p>
</div>
